<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <display-name>AuthServlet</display-name>
    <display-name>ProfServlet</display-name>
    <display-name>CoordServlet</display-name>
<!--    <servlet>-->
<!--        <description/>-->
<!--        <display-name>AuthServlet</display-name>-->
<!--        <servlet-name>log</servlet-name>-->
<!--        <servlet-class>Servlet.AuthServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>log</servlet-name>-->
<!--        <url-pattern>/log</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <servlet>-->
<!--        <servlet-name>CS</servlet-name>-->
<!--        <servlet-class>Servlet.ProfServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>CS</servlet-name>-->
<!--        <url-pattern>/CS</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <welcome-file-list>-->
<!--        <welcome-file>categorie.jsp</welcome-file>-->
<!--    </welcome-file-list>-->
<!--    -->
<!--    <welcome-file-list>-->
<!--        <welcome-file>Auth.jsp</welcome-file>-->
<!--    </welcome-file-list>-->

<!--    <security-constraint>-->
<!--        <web-resource-collection>-->
<!--            <web-resource-name>Secured Pages</web-resource-name>-->
<!--            <url-pattern>/secure/*</url-pattern>-->
<!--        </web-resource-collection>-->
<!--        <auth-constraint>-->
<!--            <role-name>user</role-name>-->
<!--        </auth-constraint>-->
<!--    </security-constraint>-->

<!--    <login-config>-->
<!--        <auth-method>BASIC</auth-method>-->
<!--        <realm-name>MyRealm</realm-name>-->
<!--    </login-config>-->
<welcome-file-list>
    <welcome-file>Auth.jsp</welcome-file>
</welcome-file-list>

</web-app>