<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <display-name>AuthServlet</display-name>
    <display-name>ProfServlet</display-name>
    <display-name>CoordServlet</display-name>

    <filter>
        <filter-name>authenticationFilter</filter-name>
        <filter-class>Servlet.RoleBasedAccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authenticationFilter</filter-name>
        <url-pattern>/professeur/*</url-pattern>
        <url-pattern>/coordinateur/*</url-pattern>
        <url-pattern>/responsable/*</url-pattern>
    </filter-mapping>



</web-app>